name: Build and Publish Lambda Layer

on:
  schedule:
    # Run every week on Sunday at midnight
    - cron: '0 0 * * 0'
  workflow_dispatch:
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    container:
      image: amazonlinux:latest
    steps:
      - name: Install node,jq.zip, cli
        run: yum -y install tar gzip git nodejs zip 

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Lambda Layer
        run: |
          cd nodejs/
          npm i @napi-rs/canvas@latest
          cd ../
          zip -r layer.zip nodejs
      - name: Publish Lambda Layer
        id: publish-layer
        run: |
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          node index.mjs

      - name: Commit and Push Changes
        run: |
          cd $GITHUB_WORKSPACE
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "generated"
          git push


